h1 {
	margin: 20px 0;
}

.flex-wrap {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 60px;
}

.project-box {
    width: 100%;
    height: 230px;

    padding: 20px 20px 0 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid white;
    border-radius: 12px;

    font-size: 25px;
}

.project-box:hover {
	background-color: #2b2b2b;
	cursor: pointer;
}

.project-box p {
	margin-bottom: 0;
}

.icons {
	margin-top: auto;
	margin-bottom: 5px;
	display: flex;
}

.project-box img, .project-box i {
	width: 40px;
	height: 40px;
	font-size: 40px;
	margin: 0 2px 0 2px;
}