body {
	padding-top: 56px;
}

section {
	scroll-margin-top: 56px;
}

.bg-night {
	background-color: #0f172a; /* slate-900 */
}

.bg-lighter {
	background-color: #1e293b; /* slate-800 */
}

.navbar-border {
	border-bottom: 1px solid #334155; /* slate-700 */
}

.pressable {
  cursor: pointer;
  user-select: none;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.pressable:active {
  transform: scale(0.9);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}