body {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px 50px;
}

header {
  background-color: cornflowerblue;
  padding: 20px;
}

a {
  margin: 0 10px;
}

#name {
  color: red;
}

h2 {
  color: navy;
}

hr {
  border-color: pink;
}

.list {
  font-style: italic;
  padding-bottom: 2px;
}

#classes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 0;
}

ul > li {
  color: blue;
}

table tr {
  background-color: darkcyan;
}

.advanced td:nth-child(2) {
  color: lime;
}

.intermediate td:nth-child(2) {
  color: red;
}