.experience-outer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Color split for different sections */
.experience-dark {
  padding-top: 150px;
  background-color: #0F172A;
}

.experience {
  padding-top: 150px;
  background-color: #1E293B;
}

.experience-images {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  gap: 24px;
}

.experience-images img {
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
}

.experience-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  max-width: 1140px;
  margin: 0 auto;
  padding: 120px 30px 180px;
  gap: 40px;
  box-sizing: border-box;
}

.experience-heading {
  margin: 0;
  text-align: center;
}