.projects {
  width: 100%;
  background-color: #0F172A;
  overflow: hidden;
}

.projects-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  max-width: 1140px;
  margin: 0 auto;
  padding: 120px 30px 180px;
  gap: 40px;
}

.projects-heading {
  margin: 0;
  text-align: center;
}

.projects-blue {
  color: #004B98;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* Responsive design so grid stacks on smaller screens */
@media (max-width: 1080px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}