.experience-card {
  display: flex;
  flex-direction: column;

  width: clamp(325px, 55vw, 450px);
  aspect-ratio: 9 / 10;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;

  background-color: #0F172A;
  border-radius: 16px;

  transition: transform 0.2s ease;
}

.experience-card:hover {
  transform: translateY(-4px);
}

.experience-image {
  display: block;

  width: 100%;
  aspect-ratio: 2 / 1;
  margin-bottom: 16px;
  object-fit: cover;

  border-radius: 16px;
}

.experience-info {
  flex: 1;
}

.experience-title {
  margin-bottom: 2px;
  transition: color 0.2s ease;
}

.experience-card:hover .experience-title {
  color: #004B98;
}

.experience-subtitle {
  margin-bottom: 2px;
}

.experience-bullet {
  margin-left: 20px;
}

/* Footer */
.experience-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.experience-skill {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  
  background-color: #1E293B;
  border-radius: 999px;
}

@media (max-width: 900px) {
  .experience-image {
    aspect-ratio: 5 / 2;
  }
}