.experience-card {
  container-type: inline-size;
  container-name: experience-card;

  display: flex;
  flex-direction: column;

  width: clamp(325px, 55vw, 450px);
  aspect-ratio: 9 / 11;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;

  background-color: #0F172A;
  border-radius: 25px;

  transition: transform 0.2s ease;
}

.experience-card:hover {
  transform: translateY(-4px);
}

.experience-image {
  display: block;

  width: 100%;
  aspect-ratio: 2 / 1;
  margin-bottom: 16px;
  object-fit: cover;

  border-radius: 25px;
}

.experience-info {
  flex: 1;
}

.experience-title.heading {
  font-size: clamp(18px, 6cqw, 24px);
  margin-bottom: 2px;
  transition: color 0.2s ease;
}

.experience-card:hover .experience-title {
  color: #004B98;
}

.experience-subtitle.subheading {
  font-size: clamp(12px, 4cqw, 16px);
  margin-bottom: 2px;
}

.experience-bullet.body-bullet {
  font-size: clamp(10px, 3cqw, 14px);
  margin-left: 20px;
}

/* Footer */
.experience-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.experience-skill.body-bullet {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  
  background-color: #1E293B;
  border-radius: 999px;

  font-size: clamp(10px, 3cqw, 14px);
}

@media (max-width: 900px) {
  .experience-image {
    aspect-ratio: 5 / 2;
  }
}