.project-card {
  margin-bottom: 40px;
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-2px);
}

.project-card:hover .project-graphic,
.project-card:hover .browser-bar,
.project-card:hover .phone-bar {
  border-color: #004B98;
}

.project-card:hover .browser-url {
  color: #004B98;
}

.project-card:hover .dot {
  background-color: #004B98;
}

.project-card:hover .project-title {
  color: #004B98;
}

.project-graphic {
  display: flex;
  flex-direction: column;
  position: relative;

  aspect-ratio: 7 / 4;
  margin-bottom: 10px;
  
  border-radius: 16px;
  border: 3px solid #757575;

  overflow: hidden;
  transition: border-color 0.2s ease;
}

/* Web styles */
.browser-bar {
  display: flex;
  align-items: center;

  flex-shrink: 0;
  padding: 6px 10px;
  gap: 6px;

  background-color: #0F172A;
  border-bottom: 3px solid #757575;
  
  transition: border-color 0.2s ease;
}

.body-base.browser-url {
  color: #757575;
  margin-left: 8px;
  transition: color 0.2s ease;
}

/* Phone styles */
.phone {
  border-radius: 16px;
  border: 10px solid #0F172A;
  transition: border-color 0.2s ease;
}

.phone-bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 25px;
  height: 80px;
  padding: 0 0 5px 5px;

  background-color: #0F172A;
  border-radius: 0 10px 10px 0;
}


.dot {
  width: 10px;
  height: 10px;
  background-color: #757575;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
  
.project-screenshot {
  flex: 1;
  width: 100%;
  object-fit: cover;
}

.project-title {
  margin-bottom: 2px;
  transition: color 0.2s ease;
}

.project-subtitle {
  margin-bottom: 2px;
}

.project-description {
  margin-bottom: 10px;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tech icons */
.tech-icons {
  display: flex;
}

.tech-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 42px;
  height: 42px;
  margin-left: -8px;
  
  background-color: #0F172A;
  border-radius: 999px;
  border: 1px solid #757575;
  
  transition: background-color 0.2s ease;
}

.tech-icon-wrapper:first-child {
  margin-left: 0;
}

.tech-icon-wrapper:hover {
  background-color: #004B98;
}

.tech-icon-wrapper img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.tech-icon-tooltip {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  width: max-content;
  padding: 4px 8px;

  background: #004B98;
  border-radius: 999px;

  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  pointer-events: none;
}

.tech-icon-wrapper:hover .tech-icon-tooltip {
  visibility: visible;
  opacity: 1;
}

.project-links {
  display: flex;
  gap: 8px;
}